body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 100;
  float: left;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  background-color: #ddd;
  color: #002145;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
  font-weight: bold;
}

li a:hover:not(.active) {
  background-color: white;
  text-decoration: underline;
}

li a.active {
  color: white;
  background-color: #002145;
}


.plans {
  background-color: #002145;
  border: #002145;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  transition-duration: 0.4s;
  margin-bottom: 1em;
}

.plans:hover {
  background-color: #0055B7; /* Green */
  color: #white;
}

.myAccount {
  background-color: #002145;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
  transition-duration: 0.4s;
}

.myAccount:hover {
  background-color: #0055B7; /* Green */
  color: white;
}


.background {
  background-image: url("../images/home_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
  height: 100%;
  opacity: 0.3;
  margin: 0;
  position: relative;
}

.welcome {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.keyword {
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 6px;
  color: rgb(47, 50, 59);
  font-size: 64px;
}

.slogan {
  font-size: 24px;
}

.secondSec {
  background-color: #002145;
}

.brand {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4em;
  padding-bottom: 2em;
}

.introduction {
  text-align: justify;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 8em;
}

.thirdSec {
  color:#002145;
}

.member {
  color: #002145;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4em;
  padding-bottom: 2em;
}

#members {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;

  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 8em;
}

#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  
  background-color: #002145;
  color: white;
  text-align: center;
}
