body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.items #logout {
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit !important;
  background-color: inherit !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition-duration: 0.4s;
  position: absolute;
  right: 0px;
}

.items #logout:hover {
  background-color: #0055B7 !important;
  color: white !important;
}


@media screen and (max-width: 1080px) {
  .items #logout {display: none;}
}

@media screen and (max-width: 1080px) {
  .items.responsive #logout {position: relative;}
  .items.responsive #logout {
    float: none;
    display: block;
    text-align: center;
  }
}