body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.profile {
	background-color: white;
	color: #002145;
}

.profile h1 {
	margin-top: 0;
}

.profile h2 {
	margin-bottom: 0;
}


.profile img {
	height: 1em;
}

.username {
	border-top: 3px solid lightgrey;
	border-bottom: 3px solid lightgrey;
}
