body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="password"], select, textarea, input[type="email"], input[type="date"], input[type="number"], input[type="tel"], .short {
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-container {
  padding-top: 10em;
  padding-bottom: 10em;
}

form {
  width: 50em;
  position: relative;
  margin-left:auto;
  margin-right: auto;
  background-color: rgb(230, 230, 230);
  border: 1px solid white;
  border-radius: 1em;
  
}

.form-content {
  padding: 2em;
}

form .medium {
  width: 66%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form .long {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form .button {
  background-color: #002145;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: white;
  height: 3em;
  width: 9em;
  border: none;
  margin-bottom: 1em;
}

.button:hover {
  background-color: #0055B7;
}

.cancel:hover {
  background-color: rgba(255, 0, 0, 0.856);
}


@media screen and (max-width: 1080px) {
  input[type=text], input[type=tel],input[type=date], input[type=email], input[type="password"], select, textarea {
    width: 100%;
  }

  form {
    width: 80%;
  }
}

